.banner__3 {
	/* margin: 8vw 0; */
	margin-top: 5%;
	margin-right: 15%;
}

.banner {
	background: url('../../../../public/assets/assis/banner 1 estendido.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 1332/400;
	width: 100%;
}

@media only screen and (max-width: 1625px) {
.banner {
	background: url('../../../../public/assets/assis/banner1.jpg');
	aspect-ratio: 900/600;
	background-size: contain;
}
.banner__3 {
	text-align: left;
	margin-right: 2%;
}
}


@media only screen and (min-width: 1625px) and (max-width: 1970px) {
	.banner__3 {
	margin-right: 18%;
	}
}

@media only screen and (max-width: 550px) {
	.banner__3 {
	}
}
